  /* Additional CSS styling */
$base-font-family: "Roboto", sans-serif !default;
// $background-color-site: #003441 !default;
// $font-color: #ffffff !default;
// $background-color-header: #00439b !default;
// $background-color-menu: #00d60b !default;

body {
    font-family: 'Georgia', sans-serif;
    // background-color: $background-color-site;
    // color: $font-color;
}

  /* Navigation container */
  .site-nav {
    float: right;
    position: absolute;
    width: 100%; /* Full width */
    max-width: 640px; /* Limit menu width */
    // background-color: #222; /* Dark background */
    // border-radius: 10px;
    // padding: 10px;
    overflow: hidden;
    // display: flex;
    flex-direction: column; /* Stack items vertically */
    gap: 10px; /* Space between menu items */
  }


  .nav-box-mobile {
    display: none;
  }
  
  /* Style for each menu link */
  .page-link {
    // display: block;
    // background-color: #333; /* Slightly lighter than the menu background */
    color: #fff; /* White text */
    text-decoration: none;
    // padding: 12px 15px;
    margin-right: 20px;
    // border-radius: 5px;
    text-align: right;
    font-size: 16px;
  }
  
  // /* Hover effect */
  // .page-link:hover {
  //   background-color: #555; /* Lighter gray on hover */
  // }
  
  /* Active page highlight */
  .page-link.active {
    font-weight: bold;
  }

  .container {
    display: flex;
    gap: 20px; /* Adds spacing between columns */
    padding-top:80px
  }
  
  .main-content {
    flex: 2; /* Takes up more space */
  }
  
  .sidebar {
    padding-right: 40px;
    width: 100%; /* Full width or adjust as needed */
    max-width: 250px; /* Limit menu width */
    flex: 1; /* Takes up less space */
    display: flex;
    flex-direction: column;
    gap: 20px; /* Adds spacing between nav and footer */
  }
  
.site-header{
    position: fixed;
    width: 100%;
    min-height: 55.95px;
    line-height: 54px;
    // background-color: $background-color-header;
    border-top: 0px;
    // border-bottom: 1px solid rgb(63.75, 63.75, 63.75);
}

.footer-col-wrapper{
    max-width: 800px;
    margin: 0 auto;
}

.main-wrapper {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 30px;
}

.header-wrapper {
  max-width: 800px;
  padding: 0 30px;
}
.site-title {
  font-size: 1.625rem;
  font-weight: 300;
  letter-spacing: -1px;
  margin-bottom: 0;
  float: none;
  padding: 0px;

}

.site-footer {
  border-top: none;
}

/* Responsive adjustments */
@media (max-width: 640px) {
  .page-link {
      display: block;
      // background-color: #333; /* Slightly lighter than the menu background */
      padding: 1px 15px;
      text-align: center;
      font-size: 16px;
      // margin: 10px auto;
    }

  .site-header {
      // text-align: center;
      display: block;
      justify-content: space-between;
      align-items: center;
    }
    

  .vertical-menu {
      display: none;
    }

  .nav-box {
      display: none;
    }

  .site-nav {
      // display: block;
      // flex-direction: column;
      // border-radius: 10px;
      padding: 8px;
      overflow: hidden;
      // display: flex;
      flex-direction: column; /* Stack items vertically */
      gap: 10px; /* Space between menu items */
    }

  // .nav-box-mobile details > summary{
  //     list-style: none;
  //     text-align: center;
  //     padding: 8px 0;
  // }

  .container {
    display: flex;
    gap: 20px; /* Adds spacing between columns */
    padding-top: 160px
  }
    
  .footer-col-wrapper {
      display: none;
  }
    
  .sidebar {
      display: none;
  }

  .main-wrapper {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 30px;
    display: flex;
  }

  .site-title {
    font-size: 1.625rem;
    font-weight: 300;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: none;
    padding: 0px;
  }
  
}

